{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}



    <h1 class="center">Login</h1>
<form action="" name="login_form" onsubmit="validate()" method="post">
<div class="form-group">
  <label for="username">Username</label>
  <input class="form-control" type="text" name="username" id="username" />

    </div>
    <div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control" name="password" id="password" />
        <small id="signup-msg" class="center form-text text-muted">Not registered? <a href="/signup">Create an account</a></small>
    </div>
        <div class="form-group">
        <p id="myError" class="error error--hidden">

        </p>
    </div>
    <div class="center">
          <button type="submit" class="block btn btn--primary">Log in</button>
    </div>

</form>

{% endblock %}
