{% extends 'base.html' %}

{% block title %}Who am I?{% endblock %}

{% block content %}

<h1 class="center">Dashboard</h1>


    <div>
    <h2 class="center">You are currently logged in.</h2>
    </div>
    <hr>
    <div class="">
            <h2 class="center">Your Info</h2>
    <h3><strong>Username: </strong>{{ session['user'].username}}</h3>
    <p> <strong>ID:</strong> {{ session['user']._id}}</p>

    </div>
        <div>
    <a href="/logout" class="btn btn--secondary">Sign Out</a>
    </div>
{% endblock %}
